.cardList__container {
    width: 100%;
    margin-top: 1em;
    padding: 0.5em;
}

.card__container {
    width: 100%;
    padding-top: 1em;
}

.card__image {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 75%;
    height: auto;
}

.cardModal__background {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cardModal__content {
    position:fixed;
    background: white;
    width: 85%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow-y: auto;
    padding: 0.5em;
}

.cardModal__content h4 {
    text-align: center;
}

.cardModal__content img {
    display: block;
    width: 100%;
    max-width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.register__container {
    text-align: center;
}