.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f9fc;
}

.main {
  width: 100%;
  margin: 6em 0;
  flex: 1;
}

.home__container {
  padding: 0.35em 1.25em;
}

.home__top {
  margin-bottom: 2.5em;
}

.home__title {
  width: 85%;
  font-size: 2.75em;
  font-weight: 300;
}

.home__features {
  position: relative;
  background: #0a2540;
  overflow: visible;
  z-index: 1;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  padding: 1em 0.5em;
}

.home__features::after {
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  transform-origin: 0;
  transform: skewY(6deg);
  content: '';
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
}

.home__features header{
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
  color: #ffffff
}
.home__features p{
  color: #adbdcc
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .home__top {
    margin: 2% 10%;
  }
  .home__features {
    padding: 2% 5%;
  }
}


@media (min-width: 992px) {

}

