.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
  }

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cards__title {
  padding-top: 2em;
  text-align: center;;
}

  @media (max-width: 600px) {
    /* .grid {
      width: 100%;
      flex-direction: column;
    } */
  }
  

.dashboard__container {
  width: 100%;
  margin: 3em 0;
}

.dashboard__container h1 {
  text-align: center;
}

.dashboard__links {
  display: flex;
  justify-content: space-around;
}