.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
  }

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 2em;
}

.cards__button {
  display: block;
  margin: 0 auto;
  padding: 0.3em .95em;
  border: 0.1em solid #000000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;

}

/* .cards__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
} */

.cards__title {
  /* padding-top: 2em; */
  text-align: center;;
}

  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  

.dashboard__container {
  width: 100%;
  margin: 3em 0;
}

.dashboard__container h1 {
  text-align: center;
}

.dashboard__links {
  display: flex;
  justify-content: space-around;
}

.login__container {
  text-align: center;
}

.login__container button {
  display: inline-block;
  padding: 0.3em .95em;
  border: 0.1em solid #000000;
  margin: 1em 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}
.recommendations__container {
  width: 100%;
}

.recommendations__categories {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recommendations__category {
  border: 1px solid black;
  width: 32%;
  height: 5em;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommendations__category-selected{
  border: 1px solid black;
  width: 32%;
  height: 5em;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background: linear-gradient(#DCDCDC);
}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 0.5em;
}